<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 수정 </title>
</head>
<style>
    .layout{
        width : 500px;
        margin: 0 auto;
        margin-top : 40px;
    }

</style>
<body>
<h1 style="text-align:center">공지사항 작성 폼 (테스트 버전)</h1>

<div class="layout">
    <form th:action="@{/notice/noticeupdate/{id}(id=${Notice.NOTICE_ID})}" method="post">
        <div> <p th:text="${Notice.USER_ID}"> 작성자 </p> </div>
        <div style="text-align:center;"><input style="width :100%;" name="MEET_SUBJECT" type="text" th:value="${Notice.MEET_SUBJECT}"></div>
        <div style="text-align:center;"><input style="width:100%;" name="MEET_DAY" th:value="${Notice.MEET_DAY}" type="date"></div>
        <div style="text-align:center;"><input style="width:100%;" name="MEET_PLACE" th:value="${Notice.MEET_PLACE}" type="text"></div>
        <div style="text-align:center; height:200px;"><textarea style="width:100%; height:200px;" name="CONTENT" th:text="${Notice.CONTENT}"></textarea></div>
        <br>

        <button type="submit">수정</button>
    </form>
</div>
</body>
</html>