<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 상세 글</title>
</head>
<style>
    .layout{
        width : 500px;
        margin: 0 auto;
        margin-top : 40px;
    }

    div {
        border-style:solid;
        border-top-width: thin;
        margin-bottom:3px;
    }
</style>
<body>
<h1 style="text-align:center">공지사항 (테스트 버전)</h1>

<div class="layout">

    <h1 th:text="${Notice.MEET_SUBJECT}"> 공지사항 제목 </h1>
    <div> <p th:text="${Notice.USER_ID}"> 작성자 </p> </div>
    <div> <p th:text="${Notice.MEET_DAY}"> 날짜 </p> </div>
    <div> <p th:text="${Notice.MEET_PLACE}"> 주소 </p></div>
    <div>  <p th:text="${Notice.CONTENT}"> 공지 내용 </p> </div>

</div>
</body>
</html>