<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .layout{
        width : 500px;
        margin: 0 auto;
        margin-top : 40px;
    }
</style>
<body>
<h1 style="text-align:center">공지사항 작성 폼 (테스트 버전)</h1>

<div class="layout">
    <form action="/notice/noticewritepro" method="post">
        <div style="text-align:center;"><input style="width:100%;" name="USER_ID"  placeholder="사용자 ID 이후 로그인 DB와 연동"></div>
        <div style="text-align:center;"><input style="width:100%;" name="MEET_SUBJECT"  placeholder="공지사항 제목"></div>
        <div style="text-align:center;"><input style="width:100%;" name="MEET_DAY" type="date"></div>
        <div style="text-align:center;"><input style="width:100%;" name="MEET_PLACE"  placeholder="주소 입력"></div>
        <div style="text-align:center; height:200px;"><textarea style="width:100%; height:200px;" name="CONTENT"  placeholder="공지사항 내용입력"> </textarea></div>
        <br>

        <button type="submit">작성완료</button>
    </form>
</div>
</body>
</html>