<!--


<div class="layout">
    <form th:action="@{/notice/noticeupdate/{id}(id=${Notice.NOTICE_ID})}" method="post">
        <div> <p th:text="${Notice.USER_ID}"> 작성자 </p> </div>
        <div style="text-align:center;"><input style="width :100%;" name="MEET_SUBJECT" type="text" th:value="${Notice.MEET_SUBJECT}"></div>
        <div style="text-align:center;"><input style="width:100%;" name="MEET_DAY" th:value="${Notice.MEET_DAY}" type="date"></div>
        <div style="text-align:center;"><input style="width:100%;" name="MEET_PLACE" th:value="${Notice.MEET_PLACE}" type="text"></div>
        <div style="text-align:center; height:200px;"><textarea style="width:100%; height:200px;" name="CONTENT" th:text="${Notice.CONTENT}"></textarea></div>
        <br>

        <button type="submit">수정</button>
    </form>
</div>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>공지사항</title>
</head>
<style>
  .layout{
    width : 500px;
    margin: 0 auto;
    margin-top : 40px;
  }

</style>
<div layout:fragment="content" class="container my-3">
  <div>
    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
  </div>

  <div>
    <a href ="/oauth2/authorization/kakao">카카오 로그인</a>
    <a href ="/oauth2/authorization/naver">네이버 로그인</a>
  </div>

  <div>
    <a href="/user/signup">회원가입</a>
  </div>

  <div class="container">
    <h2>공지사항 목록</h2>
    <table class="table">
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일시</th>
        <th>장소</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="notice : ${notices}">
        <td th:text="${notice.NOTICE_ID}"></td>
        <td><a th:href="@{|/noticeList/detail/${notice.NOTICE_ID}|}" th:text="${notice.MEET_SUBJECT}"></a></td>
        <td th:text="${notice.USER_ID}"></td>
        <td th:text="${notice.MEET_DAY}"></td>
        <td th:text="${notice.MEET_PLACE}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <a th:href="@{/notice/noticewrite}" class="btn btn-primary">공지사항 등록하기</a>
</div>
</html>
