spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 3e644b4cfe7ccd04e6be5b922c76c3ef
            client-secret: TQQa3F6vRpYjnpT6e5TyRXPhXheIk2Jt
            client-name: kakao
            client-authentication-method: client_secret_pos
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/test
            scope:
              - profile_image
              - profile_nickname
              - account_email
          naver:
            client-id: uAd5d4n05PtYcMcWNmdG
            client-secret: u981K9YON4
            client-name: naver
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/test
            scope:
              - name
              - email
              - profile_image

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: id